body {
    background-color: #000000;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url("./img/PhotoRoom-20220715_210959\ \(1\)\ \(2\).png");
    background-size: cover;    
    background-repeat: no-repeat;
}

.header-text {
    width: 60%;
    margin-top: 25%;
}

.header-text img {
    display: none;
}