body {
    background-color: #000000;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url("./img/large_photo_BN.png");
    background-size: cover;    
    background-repeat: no-repeat;
}

.header-text {
    width: 60%;
    margin-top: 25%;
}

.header-text img {
    display: none;
}

/* <!------------ About -----------> */

.about-col-1, .about-col-2 {
    flex-basis: 45%;
    border: none;
}

