*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

:root{
    --white: #ffffff;
    --grey: #ababab;
    --red: 	#d62d20;
    --yellow:   #f0db4f;
    --blue:#0077a4;
    --orange:#f34f29;
    --green:#008744;
    --blueReact: #61DBFB;
    --black: #000;
    --purple: #7d10f2;
  }
body {
    background-color: var(--black);
    color: var(--white);
}

.container {
    padding: 10px 10%;
}

nav {
    height: 50px;
    display: flex;
    justify-content: end;
    padding-top: 5px;
    padding-right: 10%;
    position: fixed;
    top:0;
    right: 0;
    background-color: #000;
    width: 100%;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.8rem;
    color: #c2bdbd;
    position: relative;

}

nav ul li a:hover {
    color: var(--white)
}

nav ul li a::after{
    content: " ";
    width: 0%;
    height: 3px;
    background: var(--blue);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 50px;
    font-size: 2rem;
}

.header-text img {
    width: 100%;
    max-width: 500px;
    margin-bottom: 50px;
    border-radius: 50%;
}

.header-text-2 {
    font-size: 2.2rem;
    color: var(--blue);
}

.header-text-3 {
    margin-top: 5px;
    font-size: 1.5rem;
    margin-bottom: 60px;
}

/* <!------------ About -----------> */
#about {
    padding-top: 30px;
    color: var(--grey);
    background-color: var(--white);
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1, .about-col-2 {
    width: 100%;
    min-width: 250px;
    color:var(--black);
    padding-top: 30px;
    padding-bottom: 60px;
}

.about-col-1 {
    border-bottom: 2px rgb(190, 190, 190) solid ;
}

.tab-tibles {
    display: flex;
    margin-bottom: 40px;
}

.tab-links {
    margin-right: 50px;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: " ";
    width: 0%;
    height: 3px;
    background: var(--blue);
    position: absolute;
    left: 0;
    bottom: -0px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

#about h1 {
    margin-bottom: 20px;
}

.about-col-1 h1 {
    font-size: 4rem;
}

.about-col-2 h1 {
    font-size: 3rem;
}

#about p {
    font-size: 2rem;
    line-height: 3rem;
}

.container-cv {
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
.skill-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.skill__item {
    padding: 5px;
    min-width: 75px;
    height: auto;
}

.skill__item p {
    margin-top: 10px;
}

.fa-brands {
    font-size: 80px;
    width: 70px;
    height: 70px;
    border-radius: 15px;
}

.fa-css3 {
    color: var(--blue);
}

.fa-js {
    color: var(--yellow);
}

.fa-git-alt, .fa-html5 {
    color: var(--orange);
}

.fa-github {
    color:var(--black);
}

.fa-bootstrap {
    color: #7d10f2;
}

.about-col-1 h1 {
    margin-bottom: 20px;
}
.about-col-1 p {
    margin-bottom: 20px;
}



.download-cv {
    padding: 20px;
    height: auto;
    background-color: var(--blue);
    font-weight: 600;
    border-radius: 10px;
    border: none;
    font-size: 2rem;
    text-decoration: none;
    color: var(--white);
    box-shadow: 0px 4px 8px rgba(3, 3, 1, 0.4);
}

.download-cv:hover {
    opacity: 80%;
    transition: 0.5s;
}

.download-cv i {
    margin-right: 10px;
}

.tab-contents {
    display: none;
}
.tab-contents.active-tab {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;  
    text-align: center;
}

.education-item a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.education-item a:hover {
    opacity: 80%;
    transition: 0.5s;
}

/* --------------- Services ------------- */

#services {
    padding: 60px 0;
    background-color: #000;
    
}

.services-list {
    display: grid;
    /* place-content: center;
    width: 250px; */
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 40px;
    margin-top: 60px;
    text-align: center;
}

.services-container {
    /* border: 1px solid gray; */
    min-width: 250px;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(37, 37, 37);
    transition: background 0.5s, transform 0.5s;
}

.services-container:hover {
    background: #4e8aa0;
    transform: translateY(-10px);
}

#services h1 {
    font-size: 4rem;
    font-weight: 500;
}

.service_item {
    width: 200px;
    font-size: 40px;
    color: var(--blue);
    margin-bottom: 20px;
}

.service_item:hover {
    color: var(--white);
}

.services-container h2 {
    font-size: 2.5rem;
}
.services-container p {
    margin-top: 10px;
    font-size: 1.6rem;
}

/* --------------Portfolio------------ */

#portfolio {
    padding: 60px 0;
    background-color: var(--white);
}

#portfolio h1 {
    font-size: 4rem;
    color: var(--black);
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.work-list img {
    
}