.header-text {
    font-size: 4rem;
}

.header-text-2 {
    font-size: 4.5rem;
}

.header-text-3 {
    font-size: 3rem;
}

.tab-contents.active-tab {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.tab-contents {
    display: none;
}